* {
    font-family: 'Alkatra', cursive;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 80vw;
    margin: auto;
   
}

header {
    display: flex;
    align-items: end;
    color: white;
    margin-top: 0;
    background-color: #454545;
    height: 10vh;
    margin-bottom: 15px;
    padding: 0 20vh 0 20vh;
    justify-content: space-between;
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px ;
    box-shadow: 0.2em 0.2em 1em grey;
}

.container-header {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

nav {
    width: 30%;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.nav_button {
    width: calc(100%/4);
    border: none;
    color: black;
    background-color: #FF6000;
    cursor: pointer;
}
.nav_button:hover {
    color :white;
    
}

.container-header-work {
    border-radius: 28% 72% 38% 62% / 51% 49% 51% 49%;
    padding: 15px;
    background-color: #FF6000;
    color: black;
    cursor: pointer;
}

h1 {
    margin: 0;
}

.containerSection {
    display: flex;
    gap: 15px;
}

section {
    box-shadow: 0.2em 0.2em 1em grey;
    color: white;
    background-color: #454545;
    overflow: auto;
    width: calc(100%/4);
    height: 80vh;
    padding: 0 15px 0 15px;
    transition: 2s;
}

.formation {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.hobbies {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.section_size {
    width: 100%;
}

section::-webkit-scrollbar {
    width: 5px;
}

section::-webkit-scrollbar-track {
    background: #454545;
    border-radius: 15px;
    border: #454545 1px solid;
}

section::-webkit-scrollbar-thumb {
    background-color: #FF6000;
    border-radius: 15px;
    border: #FF6000 1px solid;
}

.career_cged,
.formation_oclock,
.formation_ozanam,
.formation_eic,
.career_homelec,
.skills_main-skills,
.skills_soft-skills {
    display: flex;
    justify-content: space-between;
}

.imgOnClick {
    width: 10%;
    height: 25%;
}

img {
    width: 25%;
    height: 100%;
}

.career_cged a {
    display: contents;
}

h2 {
    text-align: start;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.title_section {
    display: flex;
    flex-direction: column;
    
}

p {
    margin-top: 0;
    font-size: small;
}

.container-button {
    display: flex;
    gap: 5px;
}

.formation_button {
    color: black;
    background-color: #FF6000;
    border: none;
    cursor: pointer;
    width: calc(100%/3);
}

.career_button,
.Skills_button {
    color: black;
    background-color: #FF6000;
    border: none;
    cursor: pointer;
    width: 50%;
}
.formation_button:hover,
.career_button:hover,
.Skills_button:hover{
    color: white;
}

hr {
    border-color: #FF6000;
}

footer {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.2em 0.2em 1em grey;
    height: 10vh;
    margin-top: 15px;
    padding: 0 20vh 0 20vh;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    background-color: #454545;
}

.footer_link a {
    color: white;
    text-decoration: none;
}

.footer_link a:hover{
    color: #FF6000;
}

footer p {
    margin: 0;
}

.displayNone {
    display: none;
}

/* media query */

@media screen and (max-width: 1023px) {
    .containerSection {
        display: flex;
        flex-direction: column;
    }

    section {
        width: 90vw;
    }

    header,
    footer {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-content: center;
        justify-content: center;
        font-size: small;
        text-align: center;
    }

    main {
        width: 95vw;
    }

    nav {
        display: none;
    }
}

.formation,.hobbies {
    border-radius: 0;
}

